#b1 {
  background-image: url("../images/Newspaper\ Background.jpg");  
  background-size: 100% 100%;
  background-position: center;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  height: 100%;
}
body
{
  display: flex; 
  justify-content: space-between;
  align-content: center;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.container {
  display: flex; 
  justify-content: space-between;  
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  width:100%;
  background-color: black;
  height:55px;
  font-family: 'Times New Roman', Times, serif;
  color:white;
}

#next{
float: left;
width: 105px;
height:20px;
align-items: left;
padding-left: 20px; 
}

#line {
 padding-left: 10px;
 height: 30px;
 width: 2px;
}

#Facebook{
    width:23px;
    height:23px;
    padding-left: 20px;
}

#instagram{
    width:23px;
    height:23px;
    padding-left: 20px;
}

#X{
    width:23px;
    height:23px;
    padding-left: 20px;
}

#text1 {
font-size: 20px;
font-style: bold;
padding-left: 1050px;;
}
 
#text2
 {
    font-size: 20px;
    font-style: bold;
    padding-right: 5px;
 }
 
#formbox
{
    align-items: center;
 }
 
 .box-style {
    background-color: white;
    border-radius: 10px;
    width:370px;
    height:600px;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 0%;
    opacity: 85%;
  }
  .box-style-login {
    background-color: white;
    border-radius: 10px;
    width:370px;
    height:350px;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 0%;
    opacity: 85%;
  }
  #StHori
  {
    width: 120px;
    padding-top: 30px;
    padding-left: 15px;
  }

  #StHoriL1
  {
    width: 120px;
    padding-top: 30px;
    padding-left: 20px;
  }

  #StHori2
  {
    width: 120px;
  padding-left: 5px;
  }

  #StHoriL2
  {
    width: 120px;
  padding-left: 10px;
  }
  
  .signup-text{
    font-size: 25px;
    padding-left: 3px;
    font-weight: bold;
  }

  .login-text{
    font-size: 25px;
    padding-left: 8px;
    font-weight: bold;
  }

  #redline
  {
  padding-left: 135px;
  width:100px;
  padding-top: 3px;
  }
  
  #redline2
  {
  padding-left: 143px;
  width:85px;
  padding-top: 3px;
  }
  
  .form
  {
   padding:0 59px;
  font-weight: bold;
  margin-top:10px;
  }

  .form2
  {
   padding:0 59px;
  font-weight: bold;
  margin-top:30px;
  }

 label, input {
  display: block;
}
input{
  border-color: red;
  border-radius: 6px;
  border-width: 3px;
  width: 250px;
  height: 30px;
  padding-left: 5px;
  font-size: smaller;
}
label{
 padding-bottom: 3px;
 padding-top: 7px;
}
button
{
  background-color: red;
  color:white;
  margin-top: 15px;
  margin-left: 75px;
  margin-bottom: 7px;
  width: 95px;
  height:30px;
  border:none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
#haveacc
{
font-size: small;
color:gray;
font-weight: 500;
padding-left: 55px;
font-size: 12;

}
.account
{
  color:red;
  font-size: 12px;
}
a.account:link
{
  color:red;
  text-decoration: none;
}
a.account:active
{
  text-decoration:underline;
  color:black;
}
a.account:visited{
  color:rgb(255, 0, 157)
}
a.account:hover{
  color:red;
  text-decoration: underline;
}
a:link{
color:white;
text-decoration: none;
}
a:hover{
text-decoration: underline;
}
a:active{
  color:blue;
}
a:visited{
  color:white;
  text-decoration: none;
}
.category-text{
  font-size: 30px;
  font-weight: bold;
  padding-left: 30px;
}
.box-style-c{
  background-color: white;
  border-radius: 10px;
  width:500px;
  height:540px;
  margin:auto;
  margin-top: 40px;
  margin-bottom: 0%;
  opacity: 85%;
  font-weight: bold;
}
#StHoriC
{
  width: 140px;
  padding-top: 30px;
  padding-left: 10px;
}
#StHoriC2
  {
    width: 140px;
    padding-left: 20px;
  }
  #redlineC
  {
  padding-left: 180px;
  width:145px;
  height: 3px;
  padding-top: 3px;
  }
  input[type="checkbox"] {
    width: 15px; 
    height: 15px;
    /*transform: scale(0.8); */
    display: inline;
    margin-bottom:20px ;
    margin-left: 20px;
    margin-top: 10px;
  }
  #choice{
    margin-left: 20px;
    font-size: larger;
    font-weight: bold;
  }
.button2
{
  background-color: red;
  color:white;
  margin-top:10px;
  margin-left: 210px;
  width: 95px;
  height:30px;
  border:none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
/* delete it */
.delete{
  color: black !important;
  font-size: 50px;
 margin: auto;
}